<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162840034115-a4o4jpadbp6j6qd05ctatbu3lsn3jb2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162840034115-a4o4jpadbp6j6qd05ctatbu3lsn3jb2d</string>
	<key>API_KEY</key>
	<string>AIzaSyD9XDLmQIMuEAoZRIXJd2IUYVzCb2gndPw</string>
	<key>GCM_SENDER_ID</key>
	<string>162840034115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alejandro.serna.Feettish</string>
	<key>PROJECT_ID</key>
	<string>feettish-39342</string>
	<key>STORAGE_BUCKET</key>
	<string>feettish-39342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162840034115:ios:32974b7479b8ec907acdf6</string>
	<key>DATABASE_URL</key>
	<string>https://feettish-39342.firebaseio.com</string>
</dict>
</plist>